// Navigation code here

//navigation title here

h1 {
   
    display: flex;
    justify-content: center;
    .liftoff
}

nav{

    display: flex;
    justify-content: center;
    width: 800px;
    margin: 0 auto;
    font-size: 1.5em;
    
    a {
        color: rgb(56, 56, 56);
        padding: 20px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    
}

.background {
    
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 780px;
    height: 190px;
    background-image: url("/Users/voidchaser/Lambda/Sprint-Challenge--Advanced-CSS/img/main-header.png");
    background-attachment: fixed;
    background-size: auto;
    background-position: 50% 15%;
    background-repeat: no-repeat;

    
}
.invisible {
    visibility: hidden;
}