// Navigation code here

//navigation title here

h1 {
   
    display: flex;
    justify-content: center;
    .liftoff
}

nav{

    display: flex;
    justify-content: center;
    width: 800px;
    margin: 0 auto;
    font-size: 1.5em;
    a {
        color: rgb(56, 56, 56);
        padding: 20px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    
}